/* >>>>>>>>>>>>>>>>>>>>> map */
.mapContainer {
  z-index: -2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

a.mapboxgl-ctrl-logo {
  display: none;
}
/* <<<<<<<<<<<<<<<<<<<<< map */

/* >>>>>>>>>>>>>>>>>>>>> search */
#searchDiv {
  background: gray;
  /* padding: 10px 15px; */
}

#searchDiv .makeStyles-search-186 {
  background: white;
  margin: 10px;
  display: inline-flex;
  width: -webkit-fill-available;
  align-items: center;

  line-height: 0;
}

#searchDiv .makeStyles-search-186 div {
  margin-left: 5px !important;
  margin-right: 12px !important;
}

#searchComponent div .MuiInputBase-fullWidth {
  border-radius: 100px;
  background: white;
}
/* <<<<<<<<<<<<<<<<<<<<< search */

/* >>>>>>>>>>>>>>>>>>>>> legends */
.legend {
  background-color: rgb(33, 47, 58);
  color: white;
  border-radius: 3px;
  bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  left: 10px;
  z-index: -1;
}

.legend-stop-virtualization {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  bottom: 45px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  right: 10px;
  z-index: -1;
}

.legend-Link {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  bottom: 117px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  right: 10px;
  z-index: -1;
}

.legend-show-chart {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
  bottom: 81px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  right: 10px;
  z-index: -1;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
/* <<<<<<<<<<<<<<<<<<<<< legends */

/* removing mapbox logo */
a.mapboxgl-ctrl-logo {
  display: none;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  background: #ffc107;
  padding: 5px;
  border-radius: 5px;
}

.signup .MuiFormControl-root.MuiFormControl-fullWidth {
  background: white;
}

.MuiFormControl-root.MuiFormControl-fullWidth {
  border-radius: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

*/ li[aria-selected='true'] {
  background-color: red !important;
  font-weight: 600;
}

li[data-focus='true'] {
  background-color: #00bfa5 !important;
  color: white !important;
  cursor: pointer;
}

#profileDialog .MuiTypography-root {
  display: flex;
}

#signupDialog .MuiInputBase-root {
  background: white;
}

/* map marker */
.club-marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

/* share Buttons */
/* body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  padding: 20px;
} */

.Demo__container {
  bottom: 7px;
  position: absolute;
  width: min-content;
  right: 50px;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
}

.Demo__some-network {
  vertical-align: top;
  display: inline-block;
  /* margin-right: 10px; */
  text-align: center;
}

.Demo__some-network__share-count {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  margin-top: 3px;
  font-size: 12px;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

.Demo__some-network__custom-icon {
  width: 32px;
  height: 32px;
}
